#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
# Another verbose option
#export DH_OPTIONS=-v

%:
	dh $@

override_dh_auto_build:
	pandoc -s -o cypher-shell.1 cypher-shell.1.md
